.c {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.content {
  flex: 1;
  overflow: auto;
}

.footer {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 4px;
}

.action:hover {
  background-color: rgb(155, 155, 155);
  border-radius: 5px;
}
