<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Sudo Tabs</a>

        <a>{{ tabs.length }} Tabs</a>

        <form class="d-flex" role="filter">
            <input class="form-control me-2" type="text" placeholder="Filter" aria-label="Filter" name="query" autofocus
                [(ngModel)]="query" />
        </form>
    </div>
</nav>

<app-tab-item *ngFor="let item of filteredTabs();" [tab]="item" [windows]="windows" (onTabSelected)="selectTab($event)"
    (onTabDeleted)="removeTab($event)" (onTabDuplicated)="duplicateTab($event)"
    (onTabMovedToWindow)="changeWindow($event)" (onTabMovedToNewWindow)="newWindow()">
</app-tab-item>